@media (max-width: 1229px){
    h1{
        font-size: 42px;
    }
    h2{
        font-size: 30px;
    }
    h3{
        font-size: 20px;
    }
    .banner_section{
        padding: 150px 0 100px;
    }
    .feature_section{
        padding: 100px 0;
    }
    .feature_block{
        padding: 50px 30px;
    }
    .feature_block .icon{
        width: 80px;
        height: 80px;
    }
    .reviews_layer_cont {
        padding: 100px 0 200px;
    }
    .workflow_section{
        padding: 100px 0;
    }
}
@media (max-width: 1199px){
    body, p{
        font-size: 13px;
    }
    h1{
        font-size: 30px;
    }
    h3{
        font-size: 18px;
    }
    .border_orange {
        padding: 12px 30px;
        font-size: 13px;
    }
    .reviews_layer_cont {
        padding: 100px 0;
    }
    .workflow_section{
        padding: 50px 0;
    }
    .workflow_grid_item:not(.full_width) .icon img {
        max-height: 80px;
    }
    
    .workflow_grid_item.full_width .icon img {
        max-height: 130px;
    }
}
@media (max-width: 991px){
    h2{
        font-size: 24px;
    }
    .feature_section{
        padding: 50px 0;
    }
    .feature_section .custom_row{
        margin: 0 -15px;
    }
    .feature_section .custom_col{
        padding: 0 15px;
    }
    .feature_block {
        padding: 30px 15px;
    }
    .reviews_layer_cont {
        padding: 50px 0;
    }
    .workflow_grid_item:not(.full_width) .icon img {
        max-height: 60px;
    }
    .workflow_grid_item.full_width .icon img {
        max-height: 110px;
    }
}
@media (max-width: 767px){
    h1, h2{
        font-size: 18px;
    }
    .banner_section {
        padding: 0 0 85px;
    }
    .banner_section .custom_row{
        margin: 0 -15px;
    }
    .banner_section .custom_col{
        padding: 0 15px;
    }
    .banner_col_cont,
    .banner_col_img{
        width: 100%;
    }
    .banner_block_cont{
        padding-top: 21px;
        text-align: center;
    }
    .banner_block_cont h1{
        font-size: 18px;
        margin-bottom: 10px;
    }
    .banner_block_cont p{
        margin-bottom: 10px;
    }
    .banner_block_cont .border_orange{
        margin-top: 10px;
    }
    .feature_section{
        padding: 30px 0 50px;
    }
    .feature_head{
        margin-bottom: 30px;
    }
    .feature_col {
        width: 100%;
        margin-bottom: 20px;
    }
    .feature_block .icon{
        width: 68px;
        height: 68px;
        margin-bottom: 20px;
    }
    .reviews_layer{
        padding-top: 30px;
    }
    .reviews_layer_col,
    .reviews_layer_col_img{
        width: 100%;
    }
    .reviews_layer_cont{
        text-align: center;
        padding: 0;
        margin-bottom: 30px;
    }
    .reviews_layer_img{
        padding-top: 100%;
    }
    .reviews_layer_img img,
    .reviews_layer:nth-child(even) .reviews_layer_img img{
        left: 0;
        right: 0;
        margin: auto;
    }
    .workflow_section{
        padding: 70px 0 30px;
    }
    .workflow_block_cont {
        text-align: center;
        margin-bottom: 30px;
    }
    .workflow_col{
        width: 100%;
    }
}